@import './base.css';
@import './variables.css';
@import './layout.css';
@import './utilities.css';
@import './auth.css';

#app {
  width: 100%;
  min-height: 100vh;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: var(--el-color-primary);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--el-color-primary-light-9);
  }
}
